body {
	background-color: lightgray;
}

* {
	font-family: Arial, Helvetica, sans-serif
}

h1 {
	font-family: 'Times New Roman', Times, serif;
	font-size: xx-large;
	font-style: italic;
	margin-bottom: 30px;
}

h2 {
	font-size: x-large;
	text-align: left;
}


description {
	font-family: 'Times New Roman', Times, serif;
	font-size: medium;
	font-style: italic;
}


.container {
	width: 800px;
	background-color: white;
	margin: auto;
	padding: 70px;
	padding-top: 35px;
}


.double-column {
	display: flex;
	flex-direction: row;
	background-color: white;
	width: 100%;
	/* margin: auto; */
}

.left-column,
.right-column {
	flex: 1;
	flex-basis: cal(50%-20px);
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	margin: 10px;

}

i1 {
	font-weight: bolder;
	font-style: italic;
}

.vis-container {
	width: 100%;
}


.pure-g {
	margin-bottom: 25px;
}



.moderate {
	color: cadetblue;
	margin-left: 20px;
}

.strong {
	color: goldenrod;
	margin-left: 20px;
}

.major {
	color: indianred;
	margin-left: 20px;
}


.great {
	color: red;
	margin-left: 20px;
}

.steelblue {
	color: steelblue;
	font-weight: bold;
}